{
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "editorconfig": true,
  "semi": false,
  "singleQuote": true,
  "importOrder": [
    "^@/(.*)$",
    "^@components$",
    "^@utils$",
    "^@env$",
    "^[./]",
    "(.*).css$"
  ],
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": true
}
